<section class="benefits section" id="benefits">
  <div class="container benefits-container">
    <h2 class="section-title benefits-title">
      Reconnect with yourself through the art of outdoor drawing
    </h2>

    <ul class="benefits-list">
      <li class="benefits-item">
        <svg class="benefits-icon" width="48" height="48">
          <use href="/img/icons.svg#spa"></use>
        </svg>

        <h3 class="benefits-item-title">Relieves stress and anxiety</h3>

        <p class="benefits-item-text">
          Drawing in nature helps you unwind, clear your mind, and escape daily
          worries in a peaceful setting.
        </p>
      </li>

      <li class="benefits-item">
        <svg class="benefits-icon" width="48" height="48">
          <use href="/img/icons.svg#sun"></use>
        </svg>

        <h3 class="benefits-item-title">Sparks creativity</h3>

        <p class="benefits-item-text">
          Whether you’re a beginner or experienced, plein air drawing encourages
          creative thinking and helps you see beauty in the details.
        </p>
      </li>

      <li class="benefits-item">
        <svg class="benefits-icon" width="48" height="48">
          <use href="/img/icons.svg#leaf"></use>
        </svg>

        <h3 class="benefits-item-title">Quality time in nature</h3>

        <p class="benefits-item-text">
          Plein air sessions combine fresh air, gentle movement, and mindful
          observation — a perfect blend of rest and inspiration.
        </p>
      </li>
    </ul>

    <img
      class="benefits-pic"
      src="/img/images/Benefits/Benefits-1.png"
      srcset="
        /img/images/Benefits/Benefits-1.png    1x,
        /img/images/Benefits/Benefits-1@2x.png 2x
      "
      alt=""
      width="616"
      height="586"
      loading="lazy"
      decoding="async"
    />
  </div>
</section>
