<section id="feedbacks" class="m-feedbacks">
  <div class="container">
    <h2 class="m-feedbacks-title">Customer testimonials</h2>
    <ul class="m-feedbacks-list">
      <li class="m-feedbacks-item">
        <ul class="m-feedbacks-stars-list">
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
        </ul>
        <p class="m-feedbacks-list-text">
          “An unforgettable way to reconnect with nature and creativity. I came
          home with a full sketchbook and a peaceful mind.”
        </p>
        <h3 class="m-feedbacks-list-name">Julia Nguyen</h3>
      </li>
      <li class="m-feedbacks-item">
        <ul class="m-feedbacks-stars-list">
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#staroutline"></use>
            </svg>
          </li>
        </ul>
        <p class="m-feedbacks-list-text">
          “WildSketch helped me rediscover my love for drawing. The instructors
          were kind, encouraging, and deeply inspiring.”
        </p>
        <h3 class="m-feedbacks-list-name">Mark Leblanc</h3>
      </li>
      <li class="m-feedbacks-item">
        <ul class="m-feedbacks-stars-list">
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
        </ul>
        <p class="m-feedbacks-list-text">
          “Beautiful locations, great energy, and a supportive community. I’m
          not a professional artist, but I felt totally welcomed.”
        </p>
        <h3 class="m-feedbacks-list-name">Sofia Mendes</h3>
      </li>
      <li class="m-feedbacks-item">
        <ul class="m-feedbacks-stars-list">
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#staroutline"></use>
            </svg>
          </li>
        </ul>
        <p class="m-feedbacks-list-text">
          “Sketching outdoors in the golden hour was magical. Highly recommend
          for anyone looking to slow down and create.”
        </p>
        <h3 class="m-feedbacks-list-name">Daniel Ortiz</h3>
      </li>
      <li class="m-feedbacks-item">
        <ul class="m-feedbacks-stars-list">
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
        </ul>
        <p class="m-feedbacks-list-text">
          “The team made everything feel effortless and joyful. I learned so
          much and met wonderful people along the way.”
        </p>
        <h3 class="m-feedbacks-list-name">Anika Shah</h3>
      </li>
      <li class="m-feedbacks-item">
        <ul class="m-feedbacks-stars-list">
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#starfilled"></use>
            </svg>
          </li>
          <li class="m-feedbacks-stars-item">
            <svg class="m-feedbacks-icon" width="24" height="24">
              <use href="/img/icons.svg#staroutline"></use>
            </svg>
          </li>
        </ul>
        <p class="m-feedbacks-list-text">
          “Such a wholesome and uplifting experience. WildSketch is now my go-to
          escape when I need a creative reset.”
        </p>
        <h3 class="m-feedbacks-list-name">Thomas Becker</h3>
      </li>
    </ul>
  </div>
</section>
