    <footer id="footer" class="footer">
      <div class="container footer-container">
        <div class="footer-info">
          <a class="footer-logo" href="./index.html"></a>
            <svg class="footer-logo" width="268" height="114">
                <use href="../img/icons.svg#companylogo"></use>
            </svg>
          </a>

          <ul class="footer-list">
            <li>
              <a class="nav-links" href="#benefits">Benefits</a>
            </li>
            <li>
              <a class="nav-links" href="#gallery">Gallery</a>
            </li>
            <li>
              <a class="nav-links" href="#events">Events</a>
            </li>
            <li>
              <a class="nav-links" href="#team">Team</a>
            </li>
            <li>
              <a class="nav-links" href="#feedbacks">Feedbacks</a>
            </li>
          </ul>
        </div>
        <p class="footer-copy">© 2025 WildDraw. All rights reserved.</p>
      </div>
    </footer>

