<footer id="footer" class="footer">
  <div class="container footer-container">
    <div class="footer-info">
      <a class="footer-logo" href="./index.html">
        <svg class="footer-logo" width="268" height="114">
          <use href="../img/icons.svg#companylogo"></use>
        </svg>
      </a>

      <ul class="footer-list">
        <li>
          <a class="nav-links" href="index.html"><p>Benefits</p></a>
        </li>
        <li>
          <a class="nav-links" href="index.html"><p>Gallery</p></a>
        </li>
        <li>
          <a class="nav-links" href="index.html"><p>Events</p></a>
        </li>
        <li>
          <a class="nav-links" href="index.html"><p>Team</p></a>
        </li>
        <li>
          <a class="nav-links" href="index.html"><p>Feedbacks</p></a>
        </li>
      </ul>
    </div>
    <p class="footer-copy">© 2025 WildDraw. All rights reserved.</p>
  </div>
</footer>
