<section id="gallery" class="gallery-section">
  <div class="container gallery-container">
    <h2 class="gallery-title">Artistic Showcase</h2>
    <p class="gallery-text">
      Explore the creativity captured in our workshops.
    </p>

    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/images/Gallery/gallery-1-320.webp 320w,
              /img/images/Gallery/gallery-1.webp     416w,
              /img/images/Gallery/gallery-1@2x.webp  832w
            "
            sizes="(min-width: 1440px) 416px, (min-width: 768px) 218px, 160px"
          />
          <img
            class="gallery-pic"
            srcset="
              /img/images/Gallery/Gallery-1.jpg    1x,
              /img/images/Gallery/Gallery-1@2x.jpg 2x
            "
            src="/img/images/Gallery/Gallery-1.jpg"
            alt=""
            width="416"
            height="416"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/images/Gallery/gallery-2-320.webp 320w,
              /img/images/Gallery/gallery-2.webp     416w,
              /img/images/Gallery/gallery-2@2x.webp  832w
            "
            sizes="(min-width: 1440px) 416px, (min-width: 768px) 218px, 160px"
          />
          <img
            class="gallery-pic"
            srcset="
              /img/images/Gallery/Gallery-2.jpg    1x,
              /img/images/Gallery/Gallery-2@2x.jpg 2x
            "
            src="/img/images/Gallery/Gallery-2.jpg"
            alt=""
            width="416"
            height="416"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/images/Gallery/gallery-3-320.webp 320w,
              /img/images/Gallery/gallery-3.webp     416w,
              /img/images/Gallery/gallery-3@2x.webp  832w
            "
            sizes="(min-width: 1440px) 416px, (min-width: 768px) 218px, 335px"
          />
          <img
            class="gallery-pic"
            srcset="
              /img/images/Gallery/Gallery-3.jpg    1x,
              /img/images/Gallery/Gallery-3@2x.jpg 2x
            "
            src="/img/images/Gallery/Gallery-3.jpg"
            alt=""
            width="416"
            height="416"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/images/Gallery/gallery-4.webp    304w,
              /img/images/Gallery/gallery-4@2x.webp 608w
            "
            sizes="(min-width: 1440px) 304px, (min-width: 768px) 158px, 160px"
          />
          <img
            class="gallery-pic"
            srcset="
              /img/images/Gallery/Gallery-4.jpg    1x,
              /img/images/Gallery/Gallery-4@2x.jpg 2x
            "
            src="/img/images/Gallery/Gallery-4.jpg"
            alt=""
            width="304"
            height="346"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/images/Gallery/gallery-5.webp    304w,
              /img/images/Gallery/gallery-5@2x.webp 608w
            "
            sizes="(min-width: 1440px) 304px, (min-width: 768px) 158px, 160px"
          />
          <img
            class="gallery-pic"
            srcset="
              /img/images/Gallery/Gallery-5.jpg    1x,
              /img/images/Gallery/Gallery-5@2x.jpg 2x
            "
            src="/img/images/Gallery/Gallery-5.jpg"
            alt=""
            width="304"
            height="346"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/images/Gallery/gallery-6.webp    304w,
              /img/images/Gallery/gallery-6@2x.webp 608w
            "
            sizes="(min-width: 1440px) 304px, (min-width: 768px) 158px, 160px"
          />
          <img
            class="gallery-pic"
            srcset="
              /img/images/Gallery/Gallery-6.jpg    1x,
              /img/images/Gallery/Gallery-6@2x.jpg 2x
            "
            src="/img/images/Gallery/Gallery-6.jpg"
            alt=""
            width="304"
            height="346"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/images/Gallery/gallery-7.webp    304w,
              /img/images/Gallery/gallery-7@2x.webp 608w
            "
            sizes="(min-width: 1440px) 304px, (min-width: 768px) 158px, 160px"
          />
          <img
            class="gallery-pic"
            srcset="
              /img/images/Gallery/Gallery-7.jpg    1x,
              /img/images/Gallery/Gallery-7@2x.jpg 2x
            "
            src="/img/images/Gallery/Gallery-7.jpg"
            alt=""
            width="304"
            height="346"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
