<section id="gallery" class="gallery-section">
  <div class="container gallery-container">
    <h2 class="gallery-title">Artistic Showcase</h2>
    <p class="gallery-text">
      Explore the creativity captured in our workshops.
    </p>

    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          class="gallery-pic"
          srcset="
            /img/images/Gallery/Gallery-1.jpg    1x,
            /img/images/Gallery/Gallery-1@2x.jpg 2x
          "
          src="/img/images/Gallery/Gallery-1.jpg"
          alt=""
          width="416"
        />
      </li>

      <li class="gallery-item">
        <img
          class="gallery-pic"
          srcset="
            /img/images/Gallery/Gallery-2.jpg    1x,
            /img/images/Gallery/Gallery-2@2x.jpg 2x
          "
          src="/img/images/Gallery/Gallery-2.jpg"
          alt=""
          width="416"
        />
      </li>

      <li class="gallery-item">
        <img
          class="gallery-pic"
          srcset="
            /img/images/Gallery/Gallery-3.jpg    1x,
            /img/images/Gallery/Gallery-3@2x.jpg 2x
          "
          src="/img/images/Gallery/Gallery-3.jpg"
          alt=""
          width="416"
        />
      </li>

      <li class="gallery-item">
        <img
          class="gallery-pic"
          srcset="
            /img/images/Gallery/Gallery-4.jpg    1x,
            /img/images/Gallery/Gallery-4@2x.jpg 2x
          "
          src="/img/images/Gallery/Gallery-4.jpg"
          alt=""
          width="304"
        />
      </li>

      <li class="gallery-item">
        <img
          class="gallery-pic"
          srcset="
            /img/images/Gallery/Gallery-5.jpg    1x,
            /img/images/Gallery/Gallery-5@2x.jpg 2x
          "
          src="./img/gallery/gallery-5.jpg"
          alt=""
          width="304"
        />
      </li>

      <li class="gallery-item">
        <img
          class="gallery-pic"
          srcset="
            /img/images/Gallery/Gallery-6.jpg    1x,
            /img/images/Gallery/Gallery-6@2x.jpg 2x
          "
          src="/img/images/Gallery/Gallery-6.jpg"
          alt=""
          width="304"
        />
      </li>

      <li class="gallery-item">
        <img
          class="gallery-pic"
          srcset="
            /img/images/Gallery/Gallery-7.jpg    1x,
            /img/images/Gallery/Gallery-7@2x.jpg 2x
          "
          src="/img/images/Gallery/Gallery-7.jpg"
          alt=""
          width="304"
        />
      </li>
    </ul>
  </div>
</section>
