<div id="mobile-menu" class="mobile-menu">
    <div class="mobile-menu-navbar">
    <div class="mobile-menu-container">
        <a class="mobile-menu-logo" href="./index.html">
      <svg class="mobile-menu-logo-icon" width="117" height="50">
        <use href="./img/icons.svg#companylogo"></use>
      </svg>
    </a>
    <div class="mobile-menu-actions">
        <ul class="mobile-menu-actions-list">
            <li class="mobile-menu-action-item">
          <a class="mobile-menu-nav-link" href="#register">Register</a>
        </li>
        </ul>
        <button class="mobile-menu-btn" type="button">
          <svg class="mobile-menu-btn-close" width="24" height="24">
            <use href="./img/icons.svg#x"></use>
          </svg>
        </button>
    </div>
    </div>
    <nav class="mobile-menu-nav">
          <ul class="mobile-menu-nav-list">
            <li class="mobile-menu-nav-item">
              <a class="mobile-menu-nav-link" href="#benefits">Benefits</a>
            </li>
            <li class="mobile-menu-nav-item">
              <a class="mobile-menu-nav-link" href="#gallery">Gallery</a>
            </li>
            <li class="mobile-menu-nav-item">
              <a class="mobile-menu-nav-link" href="#events">Events</a>
            </li>
          </ul>
        </nav>
        </div>
</div> 