<section id="team" class="m-team">
  <div class="container">
    <h2 class="m-team-title">Our team</h2>
    <p class="m-team-text">
      Meet the passionate artists guiding your plein air journey.
    </p>
    <ul class="m-team-list">
      <li class="m-team-item">
        <img
          class="m-team-img"
          srcset="
            img/images/Team/Team-1.jpg 1x,
            img/images/Team/Team-2.jpg @2x.jpg   2x
          "
          src="img/images/Team/Team-1.jpg"
          alt="Emma Caldwell"
          width="152"
          height="152"
        />
        <h3 class="m-team-name">Emma Caldwell</h3>
        <p class="m-team-role">Lead Art Instructor</p>
      </li>
      <li class="m-team-item">
        <img
          class="m-team-img"
          srcset="
            img/images/Team/Team-2.jpg 1x,
            img/images/Team/Team-2.jpg @2x.jpg   2x
          "
          src="img/images/Team/Team-2.jpg"
          alt="Lina Morales"
          width="152"
          height="152"
        />
        <h3 class="m-team-name">Lina Morales</h3>
        <p class="m-team-role">Creative Workshop Coordinator</p>
      </li>
      <li class="m-team-item">
        <img
          class="m-team-img"
          srcset="
            img/images/Team/Team-3.jpg 1x,
            img/images/Team/Team-3.jpg @2x.jpg   2x
          "
          src="img/images/Team/Team-3.jpg"
          alt="Owen Fischer"
          width="152"
          height="152"
        />
        <h3 class="m-team-name">Owen Fischer</h3>
        <p class="m-team-role">Materials & Techniques Expert</p>
      </li>
      <li class="m-team-item">
        <img
          class="m-team-img"
          srcset="
            img/images/Team/Team-4.jpg 1x,
            img/images/Team/Team-4.jpg @2x.jpg   2x
          "
          src="img/images/Team/Team-4.jpg"
          alt="Naomi Lee"
          width="152"
          height="152"
        />
        <h3 class="m-team-name">Naomi Lee</h3>
        <p class="m-team-role">Mindfulness & Sketching Coach</p>
      </li>
      <li class="m-team-item">
        <img
          class="m-team-img"
          srcset="
            img/images/Team/Team-5.jpg 1x,
            img/images/Team/Team-5.jpg @2x.jpg   2x
          "
          src="img/images/Team/Team-5.jpg "
          alt="Jack Turner"
          width="152"
          height="152"
        />
        <h3 class="m-team-name">Jack Turner</h3>
        <p class="m-team-role">Photographer & Visual Archivist</p>
      </li>
      <li class="m-team-item">
        <img
          class="m-team-img"
          srcset="
            img/images/Team/Team-6.jpg 1x,
            img/images/Team/Team-6.jpg @2x.jpg   2x
          "
          src="img/images/Team/Team-6.jpg"
          alt="Ben Novak"
          width="152"
          height="152"
        />
        <h3 class="m-team-name">Ben Novak</h3>
        <p class="m-team-role">Outdoor Logistics Manager</p>
      </li>
    </ul>
  </div>
</section>
