body {
  margin: 0;
}
.footer {
  background: #ffcca6;
  padding-block: 80px;
}
.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 64px;
}
.footer-list {
  display: flex;
  gap: 24px;
  list-style: none;
  column-gap: 32px;
  margin: 0;
  padding: 0;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-bottom: 32px;
}

.footer-copy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #0c0708;
  border-top: 1px solid rgba(12, 7, 8, 0.15);
  padding-top: 32px;
  text-align: center;
}

.nav-links {
  color: #241e1e;
  text-decoration: none;
}
